
@font-face {
    font-family: 'sk-modernistregular';
    src: url('./../fonts/modernist/sk-modernist-regular-webfont.woff2') format('woff2'),
            url('./../fonts/modernist/sk-modernist-regular-webfont.woff') format('woff');
            font-weight: 400;
            font-display: swap;
            font-style: normal;
    }
    
@font-face {
    font-family: 'Stanley';
    src: url('./../fonts/stanley/Stanley.woff2') format('woff2'),
            url('./../fonts/stanley/Stanley.woff') format('woff');
            font-weight: 400;
            font-display: swap;
            font-style: normal;
    }