html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-on-bg);
    background-color: var(--color-bg);
    scroll-behavior: smooth;
    font-family: var(--font-family-sans);
}

