footer {
    position: fixed;
    height: 72px;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5vw;
    z-index: 99;
    // background-color: var(--dark);
    @include for-tablet-landscape-up {
        display: flex;
        background-color: rgba($color: #000000, $alpha: 0.5);
        backdrop-filter: blur(7px);
    }

    & a {
        font-size: var(--font-size-large);
        font-family: var(--text-headings);
        color: var(--color-on-bg);
        mix-blend-mode: difference;
    }
}